<h2>Busqueda</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Buscar pais</li>
    <!--routerLinkActive="" sirve para activar la opcion del menu cuando este en esa url-->
    <!--{ exact: true } Sirve para que sea exacto a como esta definido en la ruta-->
    <li class="list-group-item" routerLink="region" routerLinkActive="active">Por region</li>
    <li class="list-group-item" routerLink="capital" routerLinkActive="active">Por capital</li>
</ul>